body {
    background-color: #D7CEC7;
    font-family: "ubuntu", sans-serif;
}

.btn {
    font-family: 'Ubuntu', sans-serif;
    margin: 15px;
}





/*-----------------------------------INTRO-SECTION---------------------------------------*/

#kh {
    height: 80px;
    width: 75px;
    margin-right: 20px;
}

#navbar-brand-small{
    color: #fff;
    font-family: 'Cairo', sans-serif;
    position: absolute;
    left: 165px;
    top: 118px;
}


#intro-section{
    background-color: #704F4F;
}


#NAME {
    text-align: center;
    padding: 20px 60px;
    font-family: 'Satisfy', cursive;
    font-size: 8rem;
    color: #fff;
    text-shadow: 0 0 30px #B40230;
}
.navbar-brand{
    font-size: 45px;
    font-family: 'Cairo', sans-serif;
}

.navbar {
    padding-top: 55px;
    padding-bottom: 40px;
    padding-left: 60px;
    padding-right: 75px;
    font-size: 20px;
}

.libtn {
    width: 210px;
    height: 50px;
    font-size: x-large;
    color: #fff;
    transition: all 300ms;
}

.libtn-txt{
    transition: all 300ms;
}

.libtn:hover .libtn-txt{
    text-shadow: 0 0 5px blue,
                 0 0 10px blue,
                 0 0 15px blue;
    transform: scale(1.05);
    color: #fff; 
}
.libtn:hover{
    border: 1px solid #fff;
    background-color: #3C1321;
    transform: scale(1.1);
}

#userOptions{
    height:70px;
    width: 70px;
    border-radius: 50%;
    font-size: xx-large;
    color: #fff;
    transition: all 300ms;
    border: 1px solid #fff;
    background-color: #3C1321;
    transition: transform 300ms;
    position: relative;
    bottom: 6px;
    left: 10px;
}

#userOptions:hover{
    transform: scale(1.1);
}

#dpdmnu{
    width: 80px;
    text-align: center;
}

/*-----------------------------------TABLE-SECTION---------------------------------------*/

#no-member{
    font-size: 70px;
    font-family: 'Satisfy', cursive;
    text-align: center;
    text-shadow: 0 0 30px rgb(253, 3, 253);
    margin: 50px 5%;
}

table{
    width: 90%;
    margin: 50px 5%;
    border: black 5px solid;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

thead{
    background-color: chocolate;
    font-weight: bolder;
    font-size: 20px;
}
thead td{
    border-bottom: black 3px solid;
}
tbody{
    background-color: coral;
    font-size: 15px;
}

td{
    padding: 5px;
    border: 1px black solid;
}

/*-----------------------------------FOOTER-SECTION---------------------------------------*/


#footer {
    background-color: #704F4F;
    text-align: center;
    color: #fff;
    font-family: 'Abel', sans-serif;
}

